@layer reset, global, components, ovverrides;

@import url("./reset.css");

@import url("./overrides.css");

@layer global {
    html {
        --heading-font: "Italiana", sans-serif;
        --primary-font: "Alegreya Sans", sans-serif;
        --white: #fff;
        --hero-color: #FFF3F3;
        --gray: #EBEBEB;
        --lightpink: #FFF3F3;
        --pink: #ED9BBD;
        --blue: #4C6EE2;
        --lightblue: #7796FF;
        --lime: #D0F56E;
        --black: #000000;
        --gray-text: #4F4F4F;
        letter-spacing: 0.1rem;

        scroll-behavior: smooth;

    }


    h1 {
        color: var(--hero-color);
        font-family: var(--heading-font);
        font-size: clamp(2rem, 10cqw, 8.125rem);
        font-weight: 400;
        line-height: 1.3;  
    }

    h2 {
        color: var(--gray-text);
        font-family: var(--heading-font);
        font-size: clamp(1.7rem, 5cqw, 5.8125rem);
        font-weight: 400;
        line-height: 1.3;
    }

    h3 {
        color: var(--gray-text);
        font-family: var(--heading-font);
        font-size: clamp(1.4rem, 5cqw, 2.5rem);
        font-weight: 600;
        line-height: 1.3;
    }

    h4 {
        color: var(--hero-color);
        font-family: var(--heading-font);
        font-size: clamp(1.2rem, 5cqw, 2.1875rem);
        font-weight: 600;
        line-height: 1.3;
    }

    p {
        max-width: 65ch;
        font-family: var(--primary-font);
        font-size: clamp(0.6rem, 5cqw, 1rem);
        font-weight: 400;
        line-height: 1.4; 
    }

    li a{
        font-family: var(--primary-font);
        font-size: clamp(0.6rem, 5cqw, 1rem);
        font-weight: 400;
        line-height: 1.4; 
    }
}