---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif,svg}');

const logoImage = images['/src/assets/images/logo.png'];

if (!logoImage) {
  throw new Error(`Image "logo.svg" does not exist in glob: "src/assets/images".`);
}
---

<header>
  <div>
    <div id="logo">
      <a class="logo" href="index.html"> <Image src={logoImage()} alt="Logo Image" class="logo-img"/> </a>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="#hero">Home</a></li>
        <li><a href="#work">Work</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
  </div>
</header>



<style>
  @layer components {
    header {
      padding: 20px;
      position: sticky;
      background: var(--blue);
      color:var(--pink);
      top: 0;
      z-index: 1000;
      color: var(--pink);
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      color: var(--pink);
      font-weight: 600;
      font-size: clamp(1rem, 5cqw, 1.875rem);
    }
    .logo a {
      text-decoration: none;
    }

    nav {
      display: flex;
      align-items: center;
    }
    .menu {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul {
      color: var(--pink);
    }
    li a {
      color: var(--pink);
      font-family: var(--primaryfont);
      
    }
    .menu li {
      margin-right: 20px;
    }
    .menu li:last-child {
      margin-right: 0;
    }
    .menu a {
      display: block;
      padding: 10px;
      color: var(--pink);
      text-decoration: none;
      transition: color 0.3s;
      text-align: end;
      transition:
        color 0.3s,
        font-weight 0.3s;
    }
    .menu a.active {
      border-bottom: 2px solid var(--pink);
      padding-bottom: 2px;
      font-weight: 600;
      color: var(--pink);
      width: fit-content;
    }
    .menu a:hover {
      color: var(--pink);
      font-weight: 600;
      position: relative;
    }

    .menu a:hover::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--lime); 
    pointer-events: none; 
    box-sizing: border-box; 
    }




    .burger {
      width: 30px;
      height: 20px;
      cursor: pointer;
    }
    .burger .line {
      width: 100%;
      height: 2px;
      background-color: var(--pink);
      margin-bottom: 5px;
      transition: 0.2s linear;
    }
    .burger {
      display: none;
    }


    /* Mobil */


    @media screen and (max-width: 450px) {
      .menu {
        display: none;
        background: var(--blue);
      }
      .burger {
        display: block;
      }
  
      .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        transition: 0.2s linear;
      }
      .burger.active .line:nth-child(2) {
        opacity: 0;
        transition: 0.15s linear;
      }
      .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        transition: 0.2s linear;
      }
      nav.active .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: 1;
        padding-bottom: 30px;
      }
      nav.active .menu li {
        margin: 10px 20px;
      }
    
    }


    /* Tablet */


    @media screen and (max-width: 800px) {
      .menu {
        display: none;
        background: var(--blue);
      }
      .burger {
        display: block;
      }
  
      .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        transition: 0.2s linear;
      }
      .burger.active .line:nth-child(2) {
        opacity: 0;
        transition: 0.15s linear;
      }
      .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        transition: 0.2s linear;
      }
      nav.active .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100vw;
        z-index: 1;
        padding-bottom: 30px;
        height: 100vh;
        min-width: 100%;
      }
      nav.active .menu li {
        margin: 10px 20px;
      }
      nav.active .menu a {
        font-size: 18px;
      }
    }
  }


</style>


<script>
    
  document.addEventListener("DOMContentLoaded", function () {
    const burger = document.querySelector(".burger");
    const nav = document.querySelector("nav");
    const menu = document.querySelector(".menu");
    const links = document.querySelectorAll(".menu li a");

    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
    });

    links.forEach((link) => {
      link.addEventListener("click", () => {
        burger.classList.remove("active");
        nav.classList.remove("active");
      });
    });
  });

</script>
