---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif,svg}');

const heroImage = images['/src/assets/images/cv-normal1.jpg'];

if (!heroImage) {
  throw new Error(`Image "cv-normal1.jpg" does not exist in glob: "src/assets/images".`);
}
---

<main class="full-bleed">

    <div class="hero-text">
        <h1 id="typed-text">DANIELA PARISA REZAI</h1>
        <h4>Multimedia Design & Frontend Developer Student</h4>
    </div>
    <a href="/next-page" class="arrow-link">
        <div class="circle">
            &#8595; 
        </div>
    </a>
   <!-- <Image src={heroImage()} alt="Hero Image" class="hero-image"/> -->
</main>


<style>
    @layer components {

        .full-bleed {
            grid-column: full-start / full-end;
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: var(--blue);

            position: relative;
            /* overflow: hidden;  */
        }

        .arrow-link {
            position: absolute; 
            bottom: 20px;
            left: 50%; 
            transform: translateX(-50%); 
            font-size: 2rem; 
            color: var(--lime); 
            text-decoration: none; 
            transition: color 0.3s; 
        }

        .circle {
            display: flex;
            justify-content: center; 
            align-items: center; 
            width: 60px; 
            height: 60px; 
            border-radius: 50%; 
            border: 1px solid #D0F56E;
            background-color: transparent;
        }

        .circle:hover {
            background-color: var(--pink);
        }

        /* .hero-text {
            position: relative;
            z-index: 1;
            color: var(--white);
        }

        .hero-image {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
            opacity: .2; 
            z-index: 0;
        } */
    }
</style>





