---

---

<div class="section">
    <div class="hero-text">
        <h1>DANIELA PARISA REZAI</h1>
        <h4>Multimedia Design & Frontend Developer Student</h4>
    </div>

</div>


<style>
    @layer components {
        .section {
            height: 100vh;
            align-items: center;
            text-align: center;
        }
    }
</style>