---

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif,svg}');

const gameImage = images['/src/assets/images/game.svg'];

if (!gameImage) {
  throw new Error(`Image "game.svg" does not exist in glob: "src/assets/images".`);
}
---


<main class="full-bleed">
  <section class="full">
    <div class="work">
        <h2>WORK</h2>

    </div>
    

    <ul role="list">
      <li>
        <h3>To Do List</h3>
        <p>Javascript</p>
        <button>View</button>
      </li>
      
      <li>
         <figure>
            <Image src={gameImage()} alt="Game Image" class="work-images"/>
        </figure>
        <h3>Imperial Botanic</h3>
        <p>Animated Game</p>
        <button>View</button>
      </li>
      
      <li>
    
        <h3>Rock paper scissors</h3>
        <p>Group project</p>
        <button>View</button>
      </li>
      
      <li>
        <figure>
            <Image src={gameImage()} alt="Game Image" class="work-images"/>
        </figure>
        <h3>Opgave</h3>
        <p>Something</p>
        <button>View</button>
      </li>
    </ul>
  </section>
</main>


<style>

@layer components {
.full-bleed, .full {
  grid-column: full-start / full-end;
}

    :root {
  --content-width: 50rem;
}

main {
  background: #FFF3F3;
  padding-block: 4rem;
  display: grid;
  grid-template-columns:
    [full-start]
    1fr
    [content]
    minmax(0, var(--content-width))
    1fr
    [full-end];
  column-gap: 1rem;
  /* margin-top: 50rem; */
  
  > * {
    grid-column: content;
  }
  
  .full {
    grid-column: full;
    display: grid;
    grid-template-columns: inherit;
    row-gap: 3rem;

    /* prøver en ting her */



    
    > * {
      grid-column: content;
    }
    
    > ul {
      scroll-snap-type: x mandatory;
      grid-column: full;
      padding-inline: max(1rem, 50% - var(--content-width) / 2);
      padding-block-end: 1rem;
      
      li {
        scroll-snap-align: center;
      }
    }
  }
}
ul {
  display: flex;
  gap: 1rem;
  overflow-x: auto;

  figure {
    margin-bottom: 2rem;
    border-radius: 8px;

    .work-images{
        border-radius: 8px;
    }
  }
  
  li {
    flex-basis: min(400px, 90%);
    flex-shrink: 0;
    background: #4C6EE2;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 1rem;
    padding: 2.75rem 2.1875rem;
    align-self: start;
    
    h3 {
      font-weight: 700;
      font-size: 1.5625rem;
    }

    p {
        font-style: italic;
    }
    button {
        margin-top: 3rem;
        background: var(--lime);
        color: var(--black);
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
        order: 3;
    }

    button:hover{
        background: var(--pink);
    }
  }
}

 ul li:hover {
  color: #fff;
  background: #7796FF;
  transition: all 0.3s ease-in-out;
}

ul li:hover h3 {
  color: #fff;
}

h2 {
    color: #4C6EE2;
    margin-block: 0 0.625rem;
    line-height: 1.125;
    text-align: center;
}


h3 {
  color: #FFFFFF;
  margin-block: 0 0.625rem;
  line-height: 1.125;
}

h2 {
  font-size: 2.8125rem;
}

.work {
  color: #4C6EE2;
  font-weight: 900;
  
  p {
    max-inline-size: 67ch;
    font-style: italic;
  }
}

 main {
    animation: CSSscrollReveal ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
  }

  @keyframes CSSscrollReveal {
    from {
        opacity:0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }



}


</style>